spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/opsdb
    username: ops
    password: ops

  flyway:
    enabled: true

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

logging:
  level:
    com.opsapi.common: DEBUG

management:
  tracing:
    sampling:
      probability: 1.0
      
  endpoints:
    web:
      exposure:
        include: health,metrics